@charset "UTF-8";

.navbar-nav {
	position: relative;
	left: 45%;
	transform: translatex(-56%);
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	justify-content: space-between;
	alighn-items: center;
	transition: 0.6s;
	z-index: 100000;
}

.column {
	float: left;
	width: 33.33%;
	padding: 5px;
}

.row {
	content: "";
	clear: both;
	display: table;
	animation: animatedBackground 3s linear infinite;
}